<%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
<%= link_to 'About Us', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
<%= link_to 'Contact Us', contact_path %>
<br /><br />
<div id="copy">
	Webmasters: <%= mail_to("sherryc1@andrew.cmu.edu", "Sherry Chen", encode: "javascript") %> &nbsp;&amp;&nbsp;
	<%= mail_to("slanand@andrew.cmu.edu", "Swathi Anand", encode: "javascript") %> 
	&nbsp;&nbsp;&copy 2014
</div>
