<div class="row">
  <div class="small-9 columns">
    <% if primary_locals.nil? %>
      <%= render partial: "#{primary}" %>
    <% else %>
      <%= render partial: "#{primary}", locals: primary_locals %>
    <% end %>
    
    <% unless secondary.nil? && secondary_locals.nil? %>
      <% if secondary_locals.nil? %>
        <%= render partial: "#{secondary}" %>
      <% else %>
        <%= render partial: "#{secondary}", locals: secondary_locals %>
      <% end %>
    <% end %>
  </div>

  <div class="small-4 columns">
    <%= render partial: "#{sidebar}" unless sidebar.nil? %>
  </div>
</div>

<%# if can? :add, eval(":#{model_name}") %>
  <%= link_to(eval("new_#{model_name}_path"), class: "button small radius") do %>
    <i class="fa fa-plus"></i>
    &nbsp;Add a New <%= model_name.capitalize %>
  <% end %>
<%# end %>